<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">this is the page for agile warrrior team .</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Srpint1.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 1</h4>
                                    <h4 class="subheading">Low-Fi Glappy E-Commerce Website On Figma</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this sprint we did a compartive analysis and collaborated with tools like
                                                          Telegram, Figma, Proofhub, Microsoft Office to produce a low fidelity prototype of an E-Commerce
                                                          Website  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Sprint2.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 2</h4>
                                    <h4 class="subheading">High Fidelity Protototype of the E-Commerce Website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Sprint3.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 3</h4>
                                    <h4 class="subheading">Scrum Master Exam</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Sprint4.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 4</h4>
                                    <h4 class="subheading">Job Readiness</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Sprint5.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 5</h4>
                                    <h4 class="subheading">Application</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Sprint6.JPG" alt="" width="80" height="80">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sprint 6</h4>
                                    <h4 class="subheading">Agile Warriors' Portfolio Website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
